// styles.scss
body {
    background-color: #666;
    h1 {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
		text-align: center;
    }
}
.testing {
    width: percentage(5/7);
}